main .main-container {
    margin-bottom: 150px;
}

main .upper-content{
    background: #ED6A5E;
    color: white;
}

main .page-title{
    display: inline-block;
    margin-left: 10px;
    padding: 10px;
    background: #ED6A5E;
    color: white;
}

main #form-div {
    background: #ED6A5E;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

/* label color */
.input-field label {
    color: #fff;
}

/* label focus color */
.input-field input[type=text]:focus+label,
.input-field input[type=email]:focus+label,
.input-field textarea:focus+label {
    color: white !important;
}

/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=email]:focus,
.input-field textarea:focus {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}


/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}


/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #fff !important;
    box-shadow: 0 1px 0 0 #fff !important;
}


/* icon prefix focus color */
.input-field .prefix.active {
    color: #fff !important;
}
