body{
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}

#slogan {
    font-size: 64px;
    font-weight: bold;
    color: #377771;
    text-align: center;
}

#paragraph {
    font-size: 23px;
    background: #ED6A5E;
    color: white;
    padding: 5px 10px;
    font-weight: italic;
    text-align: center;
}


.testa-img{
    width: 100%;
}