body {
    font-family: 'Montserrat Alternates', sans-serif;
    margin: 0;
}

#slogan {
    font-size: 70px;
    font-weight: bolder;
    color: #377771;
    text-align: center;
}

#referrals{
    text-shadow: 1px 1px white;
}

#paragraph {
    font-size: 23px;
    color: black;
    padding: 5px 10px;
    font-weight: bold;
    text-align: center;
}

.testa-img {
    width: 100%;
}

.innercontent {
    background: #ED6A5E;
    padding: 10px;
}

.paragraph{
    background: #ED6A5E;
    width: 100%;
}

.paragraph_1 {
    background: #ED6A5E;
    padding: 10px;
    width: 100%;
}